* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgba(47,103,193,1) 0%, rgba(47,103,193,1) 36%, rgba(70,209,255,1) 100%);
    font-family: Cursive;
    font-weight: bold;
    text-align: center;
    width: 90%;
    margin: auto;
}

#show {
    display: none;
}

h1 {
    color: #fff;
    font-size: 50px;
    margin: 40px 0px 20px;
    text-shadow: 2px 1px #fff;
}

#countdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    font-family: quicksand;
    font-size: 30px;
    text-align: center;
}

#countdown>.slot {
    width: 150px;
    margin: 20px auto;
    background: #fff;
    border-radius: 5px;
    padding: 8px;
}
#countdown >.slot:hover{
    cursor: pointer;
    z-index: 1;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, .5);
}

#countdown>.slot>span {
    display: inline-block;
    color: #0a74ec;
    background: none;
    border-radius: 3px;
    padding: 12px;
}

.text {
    color: #000;
    font-size: 20px;
    padding-top: 5px;
}

#msg {
    display: none;
    margin-top: 265px;
    color: #000;
    font-size: 40px;
    text-shadow: 2px 1px rgb(0, 255, 136);
}

@media screen and (min-width: 900px){
    body,html{
        height: 100vh;
    }
    #countdown{
        flex-direction: row;
        height: 50vh;
        align-items: center;
    }
    #countdown >.slot{
        flex: 1;
        margin: 0 20px;
    }
}
